@keyframes moveY {
	0% {
		transform: translateY(0);
	}
	33.3% {
		transform:  translateY(-2%);
	}
	66.6% {
		transform:  translateY(2%);
	}
	100% {
		transform:  translateY(0);
	}
}
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.image{
	animation: moveY 4s linear 1s infinite;
}
.show_img{
	transform: translateX(0);
	filter: blur(0);
	opacity: 1;
}
.hide_img{
	transform: translateX(-80%);
	filter: blur(15px);
	opacity: 0;
}
.show_content{
	transform: translateX(0);
	filter: blur(0);
	opacity: 1;
}
.hide_content{
	transform: translateX(80%);
	filter: blur(15px);
	opacity: 0;
}
